
.body-structure{
margin-left: 100px;
margin-right: 100px;
}
.sc-card{
    background-color: antiquewhite;
    padding: 8px;
    box-shadow: 0 0 10px 0.5px;
}
.code-btn{
    width: 100px;
}
.logo-hea{
    color: red;
}
.text-color{

    font-weight: bold;
    font-size: 45px;
}

.heading{
    text-align: center;
}